.kanban-agent-list-wrapper {
  position: absolute;
  top: 95px;
  right: 45px;
  background-color: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  min-width: 400px;
}

.kanban-agent-list-wrapper .tools summary {
  padding: 0px;
}
