.project, .swarm {
  width: 30%;
  margin: 0 1% 1% 0;
  padding: 1%;
  display: inline-block;
  vertical-align: top;
  background-color: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project p, .swarm p.description {
  min-height: 100px;
}
